/********************************/
/*** EXTREMELY IMPORTANT NOTE ***/
/********************************/
/* It is critical to the functionality of this application that the following */
/* properties ALWAYS match, therefore ALL three MUST be changed in tandem.    */
/* 1) .row(max-height) 2) .block(max-height) 3) .block(max-width)             */
/******************************************************************************/


/* -----------------------*/
/* ----- BASIC SETUP -----*/
/* -----------------------*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    word-spacing: 140%;
    text-rendering: optimizeLegibility;
    min-height: 100vw;

    /*background: url(bg-img.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/

}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #f0f0f0;
    /*min-height: 100vw;*/
}

h1 {
    font-size: 160%;
}

h2, h3 {
    font-size: 110%;
}

.container {
    /*backdrop-filter: blur(5px);*/

}

/************************/
/*     Info Section     */
/************************/

.info {
    background: #314755;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #26a0da, #314755, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #26a0da, #314755, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.div-row {
    width: 70%;
    margin-left: 30%;
}

.inline-item {
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 90%;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.63);
}

.title {
    margin-left: 40%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.white {
    color: white;
    font-weight: bold;
    border: 1px solid #fffcdc;
}

.black {
    color: black;
    font-weight: bold;
    margin-right: 1%;
    margin-left: 2%;
    font-size: 80%;
    border: 1px solid #fffcdc;
}

.algos {
    margin-left: 20%;
    margin-bottom: 1%;
}

.noborder {
    border: none;
}

.btn {
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #f0f0f0;
    font-weight: 700;
    font-size: 80%;
    background-color: #222;
    /*padding: 11px 40px;*/
    padding: 8px 30px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.dropbtn {
    /*background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;*/
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #f0f0f0;
    font-weight: 700;
    font-size: 70%;
    background-color: #222;
    padding: 8px 30px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    margin-left: 3%;
}

.dropbtn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 590%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.dropbtn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 1%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
}

.dropdown-content label:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #78c7d2;}

/***********************************/
/*                                 */
/*       Used by Algorithm         */
/*                                 */
/***********************************/

.row {
    width: 100%;
    max-height: 2vw;
}

.con {
    display: unset;
    /*margin-left: 30%;*/
}

.block {
    border: 1px solid rgba(0, 0, 255, 0.37);
    display: inline-block;
    background: rgba(0, 0, 0, 0.053);
    max-height: 2vw;
    max-width: 2vw;
}

.start, .display-item-start {
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.end, .display-item-end {
    background: #ad5389;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.barrier, .display-item-barrier {
    background: #3E5151;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.evaluated, .display-item-evaluated {
    background: #16A085;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F4D03F, #16A085);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F4D03F, #16A085); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.path, .display-item-path {
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media only screen and (max-width: 360px) {
    .btn, .dropbtn {
        padding: 4px 15px;
        font-size: 50%;
        margin-top: .25em;
    }

    .row {
        max-height: 4vw;
    }
    .block {
        max-height: 4vw;
        max-width: 4vw;
    }
}

@media only screen and (max-width: 411px) {
    .row {
        max-height: 4.5vw;
    }
    .block {
        max-height: 4.5vw;
        max-width: 4.5vw;
    }
}

@media only screen and (max-width: 768px) {
    .row {
        max-height: 6vw;
    }
    .block {
        max-height: 6vw;
        max-width: 6vw;
    }
}
